@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/CrimsonText-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_24pt-SemiBold.ttf") format("truetype")
}

@font-face {
    font-family: "Datatype";
    src: url("../fonts/Datatype-VariableFont_wdth,wght.ttf") format("truetype")
}

@font-face {
    font-family: "Tanker";
    src: url("../fonts/Tanker-Regular.ttf") format("truetype")
}

h1 {
    font-family: "Inter", sans-serif;
    color: white;
}

h2 {
    font-family: "Datatype", sans-serif;
    color: white;
}

.hero {
    min-height: 90vh;
    background: white;
}

.featured {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: skyblue;
}

.featured img {
    width: 70%;
    height: 500px;
    object-fit: cover;
}

.blog-preview {
    padding: 8rem 0;
    background: blue;
}

.footer {
    padding: 2rem;
    background: skyblue;
}